# Environment variables
.env
.env.local
.env.production

# Python cache files
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class

# Virtual environments
**/venv/
**/env/
**/.venv/
**/.env/

# Project specific
app/setup_venv.sh
app/.python-version
app/models/__pycache__/
app/models/